//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@montycoder0701:registry=https://npm.pkg.github.com
@montycoder0701:registry=https://registry.npmjs.org
