<div class="p-5">
  <h1 class="text-xl font-bold">Buttons</h1>
  <div class="flex flex-col gap-3">
    <div>
      <span class="font-semibold"> Primary </span>
      <div class="flex flex-row gap-1">
        <uai-button
          text="hello world"
          type="primary"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          text="hello world"
          type="primary"
          [disabled]="true"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          prefixIcon="heart_plus"
          text="hello world"
          type="primary"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          suffixIcon="heart_plus"
          text="hello world"
          type="primary"
          (click)="handleButtonClick()"></uai-button>
      </div>
    </div>

    <div>
      <span class="font-semibold"> Default </span>
      <div class="flex flex-row gap-1">
        <uai-button
          text="hello world"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          text="hello world"
          [disabled]="true"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          prefixIcon="heart_plus"
          text="hello world"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          suffixIcon="heart_plus"
          text="hello world"
          (click)="handleButtonClick()"></uai-button>
      </div>
    </div>

    <div>
      <span class="font-semibold"> Text </span>
      <div class="flex flex-row gap-1">
        <uai-button
          text="hello world"
          type="text"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          text="hello world"
          type="text"
          [disabled]="true"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          prefixIcon="heart_plus"
          text="hello world"
          type="text"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          suffixIcon="heart_plus"
          text="hello world"
          type="text"
          (click)="handleButtonClick()"></uai-button>
      </div>
    </div>

    <div>
      <span class="font-semibold"> Link </span>
      <div class="flex flex-row gap-1">
        <uai-button
          text="hello world"
          type="link"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          text="hello world"
          type="link"
          [disabled]="true"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          prefixIcon="heart_plus"
          text="hello world"
          type="link"
          (click)="handleButtonClick()"></uai-button>
        <uai-button
          suffixIcon="heart_plus"
          text="hello world"
          type="link"
          (click)="handleButtonClick()"></uai-button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
